@(field:play.data.Form.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang) 

@import play.api.i18n._
@import views.html.helper._

@elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }

<div class="form-group row">
	<div class="col-sm-3">
		<label for="@field.name()" class="control-label">@elements.args.get('_label)</label>
	</div>
	<div class="col-sm-9">
		
		
		@if(elements.args.get('_passwodStrength)){		
			<input type="password" class="form-control" id="@field.name()" name="@field.name()" value="@field.value()" 
												 ng-model="@field.name()"    > 
            <div>Strength</div>
			<div id="@{field.name()+"_ps"}"ng-password-strength="@field.name()"> </div>
			
			<script src="@routes.Assets.at("javascripts/external/misc/underscore.string.min.js")" type="text/javascript"></script> 
			<script src="@routes.Assets.at("javascripts/external/misc/ng-password-strength.min.js")" type="text/javascript"></script>
		}else{ 
			<input type="password" class="form-control" id="@field.name()" name="@field.name()" value="@field.value()">
		}
		
		
		
		<span class="help-inline">@elements.errors(elements.lang).mkString(", ")</span>
      	<span class="help-block hidden showonhover">@elements.infos(elements.lang).mkString(", ")</span>  
	</div>
</div>
