Source: kritter-tern-file-conf-postimpressionforbilling-service
Maintainer: KRITTER <contact@kritter.in>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8)

Package: kritter-tern-file-conf-postimpressionforbilling-service
Architecture: any
Depends: ${misc:Depends},
Description: kritters tern_file postimpressionforbilling conf service
 an postimpressionforbilling service for postimpressionforbilling conf of 
 tern_file - a log transportation package by kritter
