Source: kritter-tern-file-conf-sample
Maintainer: KRITTER <contact@kritter.in>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8)

Package: kritter-tern-file-conf-sample
Architecture: any
Depends: ${misc:Depends}, kritter-tern-file
Description: kritters tern_file sample conf
 a sample conf of tern_file - a log transportation package by kritter
