@(campaignForm: Form[models.entities.CampaignEntity], 
		campaignBudgetForm: Form[models.entities.CampaignBudgetEntity], campaignDisplay:models.advertiser.CampaignDisplay)

@main2("Campaign Form"){@navs.navadvt(campaignDisplay.getAccountGuid())} {@navs.breadcrumbs(campaignDisplay.getBreadCrumbPaths())}{ 
<form id="campaignForm" action="/advertiser/campaigns/save" method="POST" ng-controller="campaignController">
	<div class="page">
		<section class="panel panel-default">
			<div class="panel-heading">
				<strong><span class="glyphicon glyphicon-th"></span>Campaign Form</strong>
			</div>
			<div class="panel-body">
				<div id="campaignWizard" class="vertical">
				<fieldset>
					<legend>Basic Information</legend>
					<div>
						@components.formElements.hiddenfield(campaignForm("id"))
						@components.formElements.hiddenfield(campaignForm("guid"))
						@components.formElements.hiddenfield(campaignForm("status_id"))
						@components.formElements.textinput(campaignForm("name"),'_label ->"Name *", '_disabled->true)
						@components.formElements.hiddenfield(campaignForm("account_guid"))
						@components.formElements.dateinput(campaignForm("start_date"),"Start Date *" )
                        @components.formElements.selectlist("campaignUnlimitedEndDateId", 
                                    "Unlimited EndDate (Yes/No)", services.MetadataAPI.yesNoOptions(), 
                                      "campaignUnlimitedEndDate()")						
						@components.formElements.dateinput(campaignForm("end_date"),"End Date *" )
					</div>
				</fieldset>
				<fieldset>
					<legend>Campaign Budget</legend>
					
					<div>
						@components.formElements.hiddenfield(campaignBudgetForm("id") )
						@components.formElements.hiddenfield(campaignBudgetForm("campaign_id"), "campaign_id" )
						@components.formElements.hiddenfield(campaignBudgetForm("campaign_guid"), "campaign_guid" )
						@components.formElements.selectlist("campaignUnlimitedBudgetId", 
                                    "Unlimited Budget (Yes/No)", services.MetadataAPI.yesNoOptions(), 
                                      "campaignUnlimitedBudget()")
                        @components.formElements.modelcurrencyinput(campaignBudgetForm("adv_total_budget"), "Advertiser Total Budget *" )
                        @components.formElements.modelcurrencyinput(campaignBudgetForm("internal_total_budget"), "Internal Total Budget *" )
                        @components.formElements.modelcurrencyinput(campaignBudgetForm("adv_daily_budget"), "Advertiser Daily Budget *" )
						@components.formElements.modelcurrencyinput(campaignBudgetForm("internal_daily_budget"), "Internal Daily Budget *" )
					</div>
				</fieldset>
				</div>
				@components.formElements.submitbutton("save", "Save")
			</div>
		</section>
	</div>
</form>
<script src="@routes.Assets.at("javascripts/apps/campaignController.js")" type="text/javascript"></script>
}
