<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <RollingFile name="material.server.root" fileName="/var/log/kritter/material/material-server-root.log" 
                 filePattern="/var/log/kritter/material/material-server-root.log.%d{yyyy-MM-dd}" immediateFlush="false" append="true">
      <PatternLayout>
        <Pattern><![CDATA[%d %p %t %c - %m%n]]></Pattern>
      </PatternLayout>
      <TimeBasedTriggeringPolicy />
    </RollingFile>


  </Appenders>

  <Loggers>
    <Root level="DEBUG" includeLocation="false">
       <AppenderRef ref="material.server.root"/>
    </Root>
  </Loggers>
  
</Configuration>
