@(adxbasedExchangesCreateMetadataForm:Form[models.entities.adxbasedexchanges.AdxBasedExchangesMetadataEntity] )

@main("Ad Based Exchanges - Create Metadata") {
<form id="adxbasedExchangesCreateMetadataForm" action="/adxbasedexchanges/metadata/save" method="POST">
	<div class="page">
		<section class="panel panel-default">
			<div class="panel-heading">
				<strong><span class="glyphicon glyphicon-th"></span>Ad Based Exchanges - Metadata</strong>
			</div>
			<div class="panel-body">
				<div id="adxbasedExchangesCreateMetadataForm"  ng-controller="adxbasedExchangesCreateMetadataController">
						@components.formElements.hiddenfield(adxbasedExchangesCreateMetadataForm("internalid"))
						@components.formElements.selectlist2(adxbasedExchangesCreateMetadataForm("pubIncId"),"Exchange *", services.MetadataAPI.getAdxBasedExchangesMetadata())
						@components.formElements.selectlist2(adxbasedExchangesCreateMetadataForm("adposition_get")," Adposition get *", services.MetadataAPI.noYesOptions())
						@components.formElements.selectlist2(adxbasedExchangesCreateMetadataForm("advertiser_upload"),"Upload Advertiser Info *", services.MetadataAPI.noYesOptions())
						@components.formElements.selectlist2(adxbasedExchangesCreateMetadataForm("banner_upload"),"Upload Banner *", services.MetadataAPI.noYesOptions())
						@components.formElements.selectlist2(adxbasedExchangesCreateMetadataForm("video_upload"),"Upload Video *", services.MetadataAPI.noYesOptions())
				
				@components.formElements.submitbutton("save", "Save")
				@components.formElements.submitbutton("cancel", "Cancel")

			</div>
		</section>
	</div>
</form>
<script src="@routes.Assets.at("javascripts/apps/multi_select_model_without_all.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/apps/adxbasedexchanges/adxbasedExchangesCreateMetadataController.js")" type="text/javascript"></script>
}
