@(qualificationListForm: Form[models.entities.QualificationListFormEntity])
@main("List Qualification"){

@components.containers.panel("List Qualification"){
<div ng-controller="listqualificationController">
     <form id="qualificationlistform" action="/adxbasedexchanges/qualification/changeAdvertiser" method="GET"">
       @components.formElements.selectlist2(qualificationListForm("advIncId"), "AdvList *", services.MetadataAPI.activeAdvIdsSelectOption())
       @components.formElements.submitbutton("change", "Change Advertiser")
    </form>

    <div class="btn-group pull-right">
                     <button class="btn btn-success  active" ng-click="updateMultipleQualification('DELETE')">
                            <span class="glyphicon glyphicon-pause" aria-hidden="true">Submit Qualifications to Delete
                     </button>
        </div> 		
	<div infinite-scroll='nextPage()' infinite-scroll-disabled='qualificationdataListData.isLoading' infinite-scroll-distance='1'>
			<table tr-ng-grid="" class="table-condensed" items="qualificationdataListData.filteredData"   
			 					selected-items="qualificationdataListData.selections" 
			 					fields="['select','advName',  'qname', 'qurl','md5','state',  'action']" 
			 					selection-mode="MultiRow"
			 					enable-filtering="qualificationdataListData.enableFilter"
			 					enable-sorting="qualificationdataListData.enableSorting" 
			 					order-by="qualificationdataListData.orderBy"
			 					order-by-reverse="qualificationdataListData.orderByReverse" 
			 					page-items="qualificationdataListData.itemsPerPage"  
			 					total-items="qualificationdataListData.totalItems"
			 					current-page="qualificationdataListData.currentPage" 
			 					on-data-required="qualificationdataListData.updateData(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)" > 
		 
			    <thead>
			        <tr>
                        <th field-name="advName" display-name="AdvertiserName" enable-sorting="true" enable-filtering="true" >  </th>
                        <th field-name="qname" display-name="Name">  </th>
                        <th field-name="qurl" display-name="Image">  </th>
                        <th field-name="md5" display-name="MD5">  </th>
                        <th field-name="state" display-name="State">  </th>
			            <th field-name="action" display-name="Action">  </th>
			        </tr>  
			    </thead> 
			    <tbody>
		    		<tr>
		    		<td field-name="select"> <input type="checkbox" ng-model="gridItem.isSelected" ng-checked="qualificationdataListData.isItemChecked(gridItem)" ></td>
		    		
		    		<td field-name="qurl" >
		    			<a href="{{gridItem.bannerUrl}}">Image </a>
		    		</td>
			            <td field-name="action" > 
			                <a href="{{gridItem.editUrl}}" class="btn btn-default " title="Edit">
			                	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</a>
							<button class="btn btn-default" ng-click="updateQualification(gridItem.id,'DELETE')">
								<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
					        </button>
							 
			            </td>
			            
			           
			        </tr>
			    </tbody>
			</table> 
		</div>
</div>

}



<script src="@routes.Assets.at("javascripts/apps/adxbasedexchanges/listqualification.js")" type="text/javascript"></script>
}