Source: kritter-oxpecker-conf-billing-service
Maintainer: KRITTER <contact@kritter.in>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8)

Package: kritter-oxpecker-conf-billing-service
Architecture: any
Depends: ${misc:Depends},
Description: kritters oxpecker billing conf service
 a billing service for billing conf of 
 oxpecker - a file or dir deletion tool by kritter
