<li><a href="#advertise"><i class="fa fa-magic"><span
			class="icon-bg bg-orange"></span></i><span data-i18n="Advertise"></span></a>
	<ul>
		<li><a href="/accounts/create/advertiser"><i
				class="fa fa-caret-right"></i><span data-i18n="Create Account"></span></a></li>
		<li><a href="/advertiser/campaigns/list"><i
				class="fa fa-caret-right"></i><span data-i18n="Campaigns"></span></a></li>
		<li><a href="/advertiser/campaigns/add"><i
				class="fa fa-caret-right"></i><span data-i18n="Create Campaign"></span></a></li>

		<li><a href="/advertiser/creatives/list"><i
				class="fa fa-caret-right"></i><span data-i18n="Creatives"></span></a></li>
		<li><a href="/advertiser/creatives/add"><i
				class="fa fa-caret-right"></i><span data-i18n="Add Creative"></span></a></li>

		<li><a href="/advertiser/targeting-profiles/list"><i
				class="fa fa-caret-right"></i><span data-i18n="Targeting Profiles"></span></a></li>
		<li><a href="/advertiser/targeting-profiles/add"><i
				class="fa fa-caret-right"></i><span data-i18n="Create Targeting Profile"></span></a></li>
		<li><a href="/accounts/advertiser/roles-accessibility"><i
				class="fa fa-caret-right"></i><span data-i18n="Roles and Accesibility"></span></a></li>

	</ul>
</li>