@import play.libs._
@import com.kritter.constants.StatusIdEnum
@import play.Play

<li class="open"><a href="#onlyadmin"><i class="fa fa-pencil"><span
			class="icon-bg bg-warning"></span></i><span data-i18n="AdxBased"></span></a>
	<ul>
			<li><a href="/adxbasedexchanges/metadata/add"><i
				class="fa fa-caret-right"></i><span data-i18n="Create Metadata"></span></a></li>
			<li><a href="/adxbasedexchanges/metadata/list"><i
				class="fa fa-caret-right"></i><span data-i18n="List Metadata"></span></a></li>
			<li><a href="/adxbasedexchanges/adpositionget/list"><i
				class="fa fa-caret-right"></i><span data-i18n="Adposition"></span></a></li>
	</ul>
</li>
