<li><a href="#advertise"><i class="fa fa-magic"><span
			class="icon-bg bg-orange"></span></i><span data-i18n="Insertion Orders"></span></a>
	<ul>
		<li><a href="/insertion-order/create"><i
				class="fa fa-caret-right"></i><span data-i18n="Create Insertion Order"></span></a></li>
		<li><a href="@{controllers.routes.OperationsController.ioApprovalQueue()}"><i
				class="fa fa-caret-right"></i><span data-i18n="IO Approval Queue"></span></a></li>						
		<li><a href="@{controllers.routes.OperationsController.rejectedIos()}"><i
                class="fa fa-caret-right"></i><span data-i18n="Rejected Ios"></span></a></li>
	</ul>
</li>
