<li><a href="#levers"><i class="fa fa-magic"><span
			class="icon-bg bg-orange"></span></i><span data-i18n="Levers"></span></a>
	<ul>
		<li><a href="/levers/margin-tweaker"><i
				class="fa fa-caret-right"></i><span data-i18n="Margin Tweaker"></span></a></li>
		<li><a href="/levers/hybrid-deal"><i
				class="fa fa-caret-right"></i><span data-i18n="Hybrid Deal"></span></a></li>
		<li><a href="/levers/campaign-priority"><i
				class="fa fa-caret-right"></i><span data-i18n="Campaign Priority"></span></a></li>
	</ul>
</li>