<li><a href="#monetize"><i class="fa fa-magic"><span
			class="icon-bg bg-orange"></span></i><span data-i18n="Sites"></span></a>
	<ul>
		<li><a href="/accounts/create/publisher"><i
				class="fa fa-caret-right"></i><span data-i18n="Create Site"></span></a></li>
		 
		<li><a href="/accounts/publishers/list"><i
				class="fa fa-caret-right"></i><span data-i18n="Accounts"></span></a></li>
		<li><a href="/accounts/advertiser/roles-accessibility"><i
				class="fa fa-caret-right"></i><span data-i18n="Roles and Accesibility"></span></a></li>

	</ul>
</li>