@(pmpForm: Form[models.entities.DealEntity])
@main("PMP Form"){
<form id="pmpForm" action="/pmp/save" method="POST" ng-controller="pmpController">
	<div class="page">
		<section class="panel panel-default">
			<div class="panel-heading">
				<strong><span class="glyphicon glyphicon-th"></span>PMP Form</strong>
			</div>
			<div class="panel-body">
				<div id="pmpWizard" class="vertical">
				<fieldset>
					<legend>PMP Fields</legend>
					<div>
						@components.formElements.textinput(pmpForm("dealId"),'_label -> "Deal Id *" )
						@components.formElements.textinput(pmpForm("dealName"),'_label -> "Deal Name *" )
                                                @components.formElements.selectlist2(pmpForm("thirdPartyConnectionGuid"), "External Demand *",services.MetadataAPI.getActiveDSPDemandPartner(), '_ngSync ->true, '_ngChange ->"updateCampaignsAndExternalData()")
                                                @components.formElements.multiselectlist3(pmpForm("campaignIdList"),'_label -> "Campaigns *", '_row->true)
						@components.formElements.multiselectlist3(pmpForm("adIdList"),'_label -> "Ads *", '_row->true)
                                                @components.formElements.multiselectlist3(pmpForm("pubIdList"), '_label ->"Publishers *", '_row->true)
                                                @components.formElements.multiselectlist3(pmpForm("siteIdList"), '_label ->"Sites *", '_row->true)
						@components.formElements.multiselectlist3(pmpForm("blockedIABCategories"), '_label -> "Blocked IAB Categories ", '_row->true)
						@components.formElements.multiselectlist3(pmpForm("dspIdList"),'_label -> "DSP List ", '_row->true)
                                                @components.formElements.multiselectlist3(pmpForm("advertiserIdList"),'_label -> "Advertiser List ", '_row->true)
                                                @components.formElements.textinput(pmpForm("whitelistedAdvertiserDomains"),'_label -> "Advertiser Domains Whitelist CSV" )
                                                @components.formElements.textinput(pmpForm("auctionType"),'_label -> "Auction Type *" )
                                                @components.formElements.textinput(pmpForm("requestCap"),'_label -> "RequestCap" )
						@components.formElements.dateinput(pmpForm("startDate"),"Start Date *" )
						@components.formElements.dateinput(pmpForm("endDate"),"End Date *" )
                                                @components.formElements.textinput(pmpForm("dealCPM"),'_label -> "Deal CPM *" )
					</div>
				</fieldset>
				</div>
				@components.formElements.submitbutton("save", "Save")
			</div>
		</section>
	</div>
</form>
<script src="@routes.Assets.at("javascripts/apps/pmpController.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/apps/multi_select_model.js")" type="text/javascript"></script>
}
