@(display:models.pmp.display.PMPDisplay)
@main2("PMP Deal Home"){@navs.navadvt(display.getDealId())}{@navs.breadcrumbs(display.getBreadCrumbPaths())}{

@components.containers.panel("PMP Deal Info"){
<div> 
        @components.fielddisplays.textdisplay("Deal Id", display.getDealId())
        @components.fielddisplays.textdisplay("Deal Name", display.getDealName())
        @components.fielddisplays.textdisplay("Ad List", display.getAdIdList())
        @components.fielddisplays.textdisplay("Third Party Connection", display.thirdPartyConnection())
        @components.fielddisplays.textdisplay("DSP List", display.getDSPList())
        @components.fielddisplays.textdisplay("Advertiser List", display.getAdvertiserList())
        @components.fielddisplays.textdisplay("IAB Blocked Category List", display.categoryList())
        @components.fielddisplays.textdisplay("Whitelisted Domains", display.domains())
        @components.fielddisplays.textdisplay("Auction Type", display.auctionType())
        @components.fielddisplays.textdisplay("Request Cap", display.requestCap())
        @components.fielddisplays.textdisplay("Start Date", display.startDate())
        @components.fielddisplays.textdisplay("End Date", display.endDate())
        @components.fielddisplays.textdisplay("Deal Floor CPM", display.dealCpm())
</div>
}
<script src="@routes.Assets.at("javascripts/apps/pmpController.js")" type="text/javascript"></script>
}
