<li><a href="#sites"><i class="fa fa-magic"><span
			class="icon-bg bg-orange"></span></i><span data-i18n="Sites"></span></a>
	<ul>
		<li><a href="/site/add"><i
				class="fa fa-caret-right"></i><span data-i18n="Add Site"></span></a></li>
		<li><a href="/insertion-order/list/NEW"><i
				class="fa fa-caret-right"></i><span data-i18n="Pending Sites"></span></a></li>
		<li><a href="/insertion-order/list/Approved"><i
				class="fa fa-caret-right"></i><span data-i18n="Approved Sites"></span></a></li>
		<li><a href="/insertion-order/list/REJECTED"><i
				class="fa fa-caret-right"></i><span data-i18n="Rejected Sites"></span></a></li>
	</ul>
</li>