@import play.libs._

<li><a href="#onlyadmin"><i class="fa fa-magic"><span
			class="icon-bg bg-orange"></span></i><span data-i18n="Test"></span></a>
    <ul>
        <li><a href="@{routes.TestPagesController.viewtestsite()}"><i
                class="fa fa-caret-right"></i><span data-i18n="Test S2S Site"></span></a></li>
    </ul>			
    <ul>
        <li><a href="@{routes.TestPagesController.viewtestexchange()}"><i
                class="fa fa-caret-right"></i><span data-i18n="Test Exchange"></span></a></li>
    </ul>           
    <ul>
        <li><a href="@{routes.TestPagesController.viewtestclick()}"><i
                class="fa fa-caret-right"></i><span data-i18n="Test Click"></span></a></li>
    </ul>           
</li>