<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/external/flattify/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/external/flattify/ui.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/external/font-awesome/css/font-awesome.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/external/misc/angular-multi-select.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/external/misc/ng-table.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">