<ul class="list-group">
	<li class="list-group-item"><a href="javascript:;" class="media">
			<span class="pull-left media-icon"> <span
				class="round-icon sm bg-info"><i class="fa fa-comment-o"></i></span>
		</span>
			<div class="media-body">
				<span class="block">Jane sent you a message</span> <span
					class="text-muted">3 hours ago</span>
			</div>
	</a></li>
	<li class="list-group-item"><a href="javascript:;" class="media">
			<span class="pull-left media-icon"> <span
				class="round-icon sm bg-danger"><i class="fa fa-comment-o"></i></span>
		</span>
			<div class="media-body">
				<span class="block">Lynda sent you a mail</span> <span
					class="text-muted">9 hours ago</span>
			</div>
	</a></li>
</ul>