@(reportEntityForm:Form[models.entities.reporting.ReportFormEntity],  savedReportId:Int=0)
@main("Dsp LandScape") {
<div class="page page-dashboard" data-ng-controller="exchangereportController">

 @components.formElements.hiddenfield(reportEntityForm("pagesize"))
 
 @components.containers.panel("Dsp Landscape"){
			<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle Filter Display</button>
			<button class="btn btn-default btn-primary" ng-click="refershData()">Refresh Data</button>
			  
		    <div collapse="isCollapsed"> 
		      <form id="exchangereportConfigForm" class="navbar-form navbar-left" action="/reporting/exchangereportdata" method="POST" ng-init='init("NETWORK", @savedReportId)'>
		       <fieldset>
		         @components.formElements.hiddenfield(reportEntityForm("pagesize"))
		         @components.formElements.hiddenfield(reportEntityForm("startindex"))
		         @components.formElements.selectlist2(reportEntityForm("frequency"),"Frequency", services.MetadataAPI.reportFrequencyOptions(),
		                '_ngSync ->true,'_ngChange ->"changeDate()", '_classes -> "small")
		         @components.formElements.dateinput(reportEntityForm("start_date"),"Start Date", '_stringRep->true)
		         @components.formElements.dateinput(reportEntityForm("end_date"),"End Date", '_stringRep->true)

                 @components.formElements.selectlist2(reportEntityForm("date_as_dimension"), 
                                    "Show Time Distribution", services.MetadataAPI.noYesOptions(), '_classes -> "small")                     
		       </fieldset>
		       <!-- fieldset>
		         	@components.formElements.multiselectlist3(reportEntityForm("publishers"),'_label->"Publishers")   
			          <span ng-show="sites_msmodel.visible">     
			          	@components.formElements.multiselectlist3(reportEntityForm("sites"),'_label->"Sites")
			          </span>
		       </fieldset -->
		       <fieldset>
		           @components.formElements.multiselectlist3(reportEntityForm("advid"),'_label->"Advertisers")
			          <span ng-show="campaigns_msmodel.visible">
			          @components.formElements.multiselectlist3(reportEntityForm("campaigns"),'_label->"Campaigns")  
			          </span>
			          <span ng-show="ads_msmodel.visible">
			          @components.formElements.multiselectlist3(reportEntityForm("ads"),'_label->"Ads") 
		       </fieldset>
		       <fieldset>
		           <legend>Targeting</legend>
		          @components.formElements.multiselectlist3(reportEntityForm("country"),'_label->"Country")
		          @components.formElements.multiselectlist3(reportEntityForm("os"),'_label->"Os")
		       </fieldset>
		      
		        <fieldset>
		            @components.formElements.checkBoxWithIdWithChange(reportEntityForm("selectallmetric"),'_label->"Select All", '_ngChange ->"togglechecks()")
		        	<legend>Direct Metrics</legend> 
                      @components.formElements.checkBoxWithId(reportEntityForm("total_request_to_dsp"),'_label->"Total Request To Dsp")
			          @components.formElements.checkBoxWithId(reportEntityForm("total_floor"),'_label->"Total Floor")
			          @components.formElements.checkBoxWithId(reportEntityForm("total_bidValue"),'_label->"Total Bid Amount")
                      @components.formElements.checkBoxWithId(reportEntityForm("total_win_bidValue"),'_label->"Total Win Amount") 
		       </fieldset>
		       
		       <fieldset> 
                   <legend>Others</legend>
					  <!-- @components.formElements.multiselectlist3(reportEntityForm("reqState"),'_label->"ReqState") --> 
					  @components.formElements.multiselectlist3(reportEntityForm("dspNofill"),'_label->"DspNoFill") 
                      @components.formElements.selectlist2(reportEntityForm("roundoffmetric"), 
                                    "Round Off ", services.MetadataAPI.noYesOptions())    
                      @components.formElements.selectlist2(reportEntityForm("csvDelimiter"), 
                                    "CSV Delimiter ", services.MetadataAPI.csvDelimiter())                        
               </fieldset> 
		        <button type="button" class="btn btn-default btn-primary" ng-click="refershData()">Generate Report</button>
		        <button type="button" class="btn btn-default btn-primary" ng-click="refershCSVData()">Download as CSV</button>
		      </form>    
			</div>
			@components.misc.table("tableData")
		}  
</div>
<script src="@routes.Assets.at("javascripts/apps/multi_select_model.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/apps/reporting/exchangereportController.js")" type="text/javascript"></script>
}
