@(reportEntityForm:Form[models.entities.reporting.ReportFormEntity],  savedReportId:Int=0,allow_wifi:String, ext_site_report_seperate:String )
@main("Supply Reporting") {
<div class="page page-dashboard" data-ng-controller="supplyReportController">

 	@components.containers.panel("Supply Report"){
			<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
				<span ng-show="isCollapsed">Show Filters</span>
				<span ng-show="!isCollapsed">Hide Filters</span>
			</button>
			<button class="btn btn-default btn-primary" ng-click="refershData()">Reload Report</button>
			  
		    <div collapse="isCollapsed"> 
		      <form id="supplyReportConfigForm" class="navbar-form navbar-left" action="/reporting/data" method="POST" ng-init='init("SUPPLY", @savedReportId)'>
		       <fieldset>
		        <legend>Time and Frequency</legend>
		        @components.formElements.hiddenfield(reportEntityForm("pagesize"))
		        @components.formElements.hiddenfield(reportEntityForm("startindex"))
		         @components.formElements.selectlist2(reportEntityForm("frequency"),"Frequency", services.MetadataAPI.reportFrequencyOptions(),
		                '_ngSync ->true,'_ngChange ->"changeDate()", '_classes -> "small")
		         @components.formElements.dateinput(reportEntityForm("start_date"),"Start Date", '_stringRep->true)
		         @components.formElements.dateinput(reportEntityForm("end_date"),"End Date", '_stringRep->true)
		         
		         @components.formElements.selectlist2(reportEntityForm("date_as_dimension"), 
                                    "Show Time Distribution", services.MetadataAPI.noYesOptions(), '_classes -> "small")                     
		          </fieldset>
		       <fieldset>
		          @components.formElements.multiselectlist3(reportEntityForm("publishers"),'_label->"Publishers")   
		          <span ng-show="sites_msmodel.visible">     
		          	@components.formElements.multiselectlist3(reportEntityForm("sites"),'_label->"Sites")
                        @if("false" == ext_site_report_seperate){
        		          	@components.formElements.multiselectlist3(reportEntityForm("extsites"),'_label->"External Site")
                        }     
		          </span>
		          @components.formElements.multiselectlist3(reportEntityForm("supply_source_type"),'_label->"Supply Source Type")
		       </fieldset>
		      
		       <fieldset>
		       	  <legend>Targeting</legend>
		          @components.formElements.multiselectlist3(reportEntityForm("country"),'_label->"Country")
		          <span ng-show="carrier_msmodel.visible">
		          	@components.formElements.multiselectlist3(reportEntityForm("carrier"),'_label->"Carrier")
		          </span>
		          @if("true" == allow_wifi){
		              @components.formElements.multiselectlist3(reportEntityForm("connection_type"),'_label->"Connection Type")
		          }
		          @components.formElements.multiselectlist3(reportEntityForm("os"),'_label->"Os")
		          @components.formElements.multiselectlist3(reportEntityForm("browser"),'_label->"Browser")
		          <span ng-show="brand_msmodel.visible">
		          	@components.formElements.multiselectlist3(reportEntityForm("brand"),'_label->"Brand")
		          </span>
		          <span ng-show="model_msmodel.visible">
		          	@components.formElements.multiselectlist3(reportEntityForm("model"),'_label->"Model") 
		          </span>
		       </fieldset>
		    
		        <fieldset>
		            @components.formElements.checkBoxWithIdWithChange(reportEntityForm("selectallmetric"),'_label->"Select All", '_ngChange ->"togglechecks()")
		        	<legend>Direct Metrics</legend>
			          @components.formElements.checkBoxWithId(reportEntityForm("total_request"),'_label->"Total Request")
			          @components.formElements.checkBoxWithId(reportEntityForm("total_impression"),'_label->"Total Impressions")
			          @components.formElements.checkBoxWithId(reportEntityForm("total_click"),'_label->"Total Click")
			          @components.formElements.checkBoxWithId(reportEntityForm("billedclicks"),'_label->"Billed Clicks")
			          @components.formElements.checkBoxWithId(reportEntityForm("total_csc"),'_label->"Total CSC")
			          @components.formElements.checkBoxWithId(reportEntityForm("billedcsc"),'_label->"Billed CSC") 
			          @components.formElements.checkBoxWithId(reportEntityForm("total_win"),'_label->"Total WIN")
			          @components.formElements.checkBoxWithId(reportEntityForm("conversion"),'_label->"Conversions") 
                      @components.formElements.checkBoxWithId(reportEntityForm("supplyCost"),'_label->"PubIncome")
                      @components.formElements.checkBoxWithId(reportEntityForm("exchangepayout"),'_label->"Exchange Income")
                      @components.formElements.checkBoxWithId(reportEntityForm("networkpayout"),'_label->"Network Income")
                      @components.formElements.checkBoxWithId(reportEntityForm("demandCharges"),'_label->"Revenue")
                      @components.formElements.checkBoxWithId(reportEntityForm("exchangerevenue"),'_label->"Exchange Revenue")
                      @components.formElements.checkBoxWithId(reportEntityForm("networkrevenue"),'_label->"Network revenue")
                      @components.formElements.checkBoxWithId(reportEntityForm("cpa_goal"),'_label->"CPA Revenue")
                      @components.formElements.checkBoxWithId(reportEntityForm("total_bidValue"),'_label->"Total Bid Amount")
                      @components.formElements.checkBoxWithId(reportEntityForm("total_win_bidValue"),'_label->"Total Win Amount")
		       </fieldset>
		       
		        <fieldset>
		        <legend>Computed Metrics</legend>
                  @components.formElements.checkBoxWithId(reportEntityForm("fr"),'_label->"FR (%)")
		          @components.formElements.checkBoxWithId(reportEntityForm("ctr"),'_label->"CTR (%)")
		          @components.formElements.checkBoxWithId(reportEntityForm("eIPM"),'_label->"eIPM")
		          @components.formElements.checkBoxWithId(reportEntityForm("billedEIPM"),'_label->"Billed EIPM")
                  @components.formElements.checkBoxWithId(reportEntityForm("eIPC"),'_label->"eIPC")
                  @components.formElements.checkBoxWithId(reportEntityForm("rtr"),'_label->"RTR (%)")
                  @components.formElements.checkBoxWithId(reportEntityForm("wtr"),'_label->"WTR (%)")
                  @components.formElements.checkBoxWithId(reportEntityForm("eIPW"),'_label->"eIPW")
                  @components.formElements.checkBoxWithId(reportEntityForm("eCPW"),'_label->"eCPW")
                  @components.formElements.checkBoxWithId(reportEntityForm("profitmargin"),'_label->"ProfitMargin (%)") 
		       </fieldset> 
		       <fieldset>
                <legend>Others</legend>
                   @components.formElements.multiselectlist3(reportEntityForm("nofillReason"),'_label->"No Fill Reason") 
                   @components.formElements.selectlist2(reportEntityForm("roundoffmetric"), 
                                    "Round Off ", services.MetadataAPI.noYesOptions())
                   @components.formElements.selectlist2(reportEntityForm("csvDelimiter"), 
                                    "CSV Delimiter ", services.MetadataAPI.csvDelimiter())                        
               </fieldset> 
                 
		       <button type="button" class="btn btn-default btn-primary" ng-click="refershData()">Generate Report</button>
		       <button type="button" class="btn btn-default btn-primary" ng-click="refershCSVData()">Download as CSV</button>
			   <button type="button" class="btn btn-default btn-primary" ng-disabled='disableSave'   ng-click="saveConfiguration()">Save Query</button>
		      </form>    
			</div>
	
			@components.misc.table("tableData")
		} 		 
</div>
<script src="@routes.Assets.at("javascripts/apps/multi_select_model.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/apps/reporting/supplyReportController.js")" type="text/javascript"></script>
}
