@(trackingEventForm:Form[models.entities.tracking_event.TrackingEventFormEntity])
@main("Tracking Event Reporting") {
<div class="page page-dashboard" data-ng-controller="trackingEventController">

 @components.formElements.hiddenfield(trackingEventForm("pagesize"))
 
 @components.containers.panel("TrackingEventReport"){
            <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle Filter Display</button>
            <button class="btn btn-default btn-primary" ng-click="refershData()">Refresh Data</button>
              
            <div collapse="isCollapsed"> 
              <form id="trackingEventConfigForm" class="navbar-form navbar-left" action="/trackingEvent/data" method="POST" ng-init='init()'>
               <fieldset>
                 @components.formElements.hiddenfield(trackingEventForm("pagesize"))
                 @components.formElements.hiddenfield(trackingEventForm("startindex"))
                 @components.formElements.selectlist2(trackingEventForm("frequency"),"Frequency", services.MetadataAPI.reportFrequencyOptions(),
                        '_ngSync ->true,'_ngChange ->"changeDate()", '_classes -> "small")
                 @components.formElements.dateinput(trackingEventForm("start_date"),"Start Date", '_stringRep->true)
                 @components.formElements.dateinput(trackingEventForm("end_date"),"End Date", '_stringRep->true)

                 @components.formElements.selectlist2(trackingEventForm("date_as_dimension"), 
                                    "Show Time Distribution", services.MetadataAPI.noYesOptions(), '_classes -> "small")                     
               </fieldset>
               <fieldset>
                  @components.formElements.multiselectlist3(trackingEventForm("publishers"),'_label->"Publishers+Exchanges")   
                  <span ng-show="sites_msmodel.visible">     
                    @components.formElements.multiselectlist3(trackingEventForm("sites"),'_label->"Internal Site")
                    @components.formElements.multiselectlist3(trackingEventForm("extsites"),'_label->"External Site")
                  </span>
               </fieldset>
               <fieldset>
                   @components.formElements.multiselectlist3(trackingEventForm("advertisers"),'_label->"Advertisers")
                      <span ng-show="campaigns_msmodel.visible">
                      @components.formElements.multiselectlist3(trackingEventForm("campaigns"),'_label->"Campaigns")  
                      </span>
                      <span ng-show="ads_msmodel.visible">
                      @components.formElements.multiselectlist3(trackingEventForm("ads"),'_label->"Ads") 
               </fieldset>
               <fieldset>
                  @components.formElements.multiselectlist3(trackingEventForm("countries"),'_label->"Country")
                  <span ng-show="carriers_msmodel.visible">
                    @components.formElements.multiselectlist3(trackingEventForm("carriers"),'_label->"Carrier")
                  </span>
                  @components.formElements.multiselectlist3(trackingEventForm("os"),'_label->"Os")
                  <span ng-show="brands_msmodel.visible">
                    @components.formElements.multiselectlist3(trackingEventForm("brands"),'_label->"Brand")
                  </span>
                  
              </fieldset>
               <fieldset> 
                   <legend>Others</legend>
                      @components.formElements.checkBoxWithId(trackingEventForm("terminationReason"),'_label->"Termination Reason")
                      @components.formElements.checkBoxWithId(trackingEventForm("tevent"),'_label->"TEvent")
                      @components.formElements.checkBoxWithId(trackingEventForm("teventtype"),'_label->"TEventTYpe")
              
                   @components.formElements.selectlist2(trackingEventForm("csvDelimiter"), 
                                    "CSV Delimiter ", services.MetadataAPI.csvDelimiter())                        
               </fieldset> 
                <button type="button" class="btn btn-default btn-primary" ng-click="refershData()">Generate Report</button>
                <button type="button" class="btn btn-default btn-primary" ng-click="refershCSVData()">Download as CSV</button>
              </form>    
            </div>
            @components.misc.table("tableData")
        }  
</div>
<script src="@routes.Assets.at("javascripts/apps/multi_select_model.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/apps/trackingEvent/trackingEventController.js")" type="text/javascript"></script>
}
